*,
* ::after,
* ::before {
    margin: 0;
    padding: 0;
}

.Note {
    border: solid #363636 2px;
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    position: absolute;
    text-align: left;
}